:root {
    --noodles: sandybrown;
    --sauce: seashell;
    --cheese:palegoldenrod;
    --spice: rebeccapurple;
}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    
}

body {
    color:var(--noodles);
    background-color:var(--sauce);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header h1 {
    height: 30px;
    padding: 50px;

}

.subject {
    margin: 10px;
    padding: 10px;
}


header img {
    display: block;
    margin: auto;
    justify-content: center;
    border-radius: 6px;
    
}

nav {
   
    display: inline-block;
    font-size: larger;
    background-color: var(--sauce);
    width: 100%;

}

nav a {
    text-decoration: none;
    color: var(--noodles);
    padding: 15px 20px;
   
}

.futurework {
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex: 5;
    width: 100%;
  }

.secondary {
    display: flex;
    flex-wrap: wrap;
}
  
  .justify-center {
    justify-content: center;
  }

p{
    margin: 5px;
}

nav a:hover {
    color: blue;
  }

.text-center {
    text-align: center;
}

li {
    padding: 7px;
}
    
.project {
        border-style:double;
        border-width: 6px;
        border-radius: 10px;
        border-color: var(--sauce);
        padding: 15px;
        justify-content: space-between;
}

.project:hover {
    box-shadow: 0px 0px 15px var(--spice);

}

.project img {
    width: 150px;
    height: 150px;
}


.project a {
    height: 5px;
    text-decoration: none;
}
.project a:hover {
    color: var(--spice);
}
      
.About {
    background-color: var(--cheese);
}

.About p {
    margin: 15px;
}



#Work {
    background-color: var(--cheese);
}

#Contact {
    
    background-color: var(--cheese);
}

ul li {
 
    display: inline-block;

}

ul li a {
    text-decoration: none;
}

ul li a:hover {
    color:var(--spice);
}


footer {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: rgb(85, 81, 109);
    text-align: center;
}
footer a {
    text-decoration: none;
    color: var(--noodles);
    font-size: small
}


@media screen and (max-width: 650px) {
    .digits {
        width: 100%
        
    }
}


