:root {
    --noodles: sandybrown;
    --sauce: seashell;
    --cheese:palegoldenrod;
    --spice: rgb(85, 81, 109);
}

* {
    margin: 0;
    box-sizing:border-box;
    
}

body {
    color:var(--noodles);
    background-color:var(--sauce);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    background-color: var(--spice);
    padding: 2%;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: var(--noodles);
    padding: 15px 20px;
    font-size: larger;
   
}

.subject {
    padding: 2%;
 
}

.About {
    display: flex;
    background-color:var(--cheese);
    padding: 2%;
    margin: 2%;
    border-style: inset;
}

.About img {
    border-radius: 100%;
    border-style:double;
    margin: auto;
    border-width: 10%;
    transition: transform .8s ease-in-out;
    }
.About img:hover {
    transform:rotate(360deg);
    }

.About p {
    padding: 1%;
}


.primary {
    display: flex;
    align-self: center;
    padding: inherit;
    width: 55%;

}

#chicken {
    width: 100%;
    padding: 2%;
}

#chicken img {
    width: 100%;
    height: 100%;
}

.secondary {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}
  

p{
    margin: 5px;
}

nav a:hover {
    color: white;
  }


li {
    padding: 7px;
}
    
.project {
        border-style:double;
        border-width: 6px;
        border-radius: 10px;
        border-color: var(--sauce);
        padding: 15px;
        justify-content: space-between;
}

.project:hover {
    box-shadow: 0 0 20px fuchsia;

}

.project img {
    width: 150px;
    height: 150px;

}


.project a {
    height: 5px;
    text-decoration: none;

}
.project a:hover {
    color: fuchsia;
}
      

#Work {
    display: flex;
    flex-direction: column;
    border-style: inset;
    padding: 2%;
    background-color: var(--cheese);
    
}

#Contact {
    display: flex;
    flex-wrap:wrap;
    background-color: var(--cheese);
    padding: 2%;
    border-style: inset;

}

ul li {
 
    display: inline-block;

}

ul li a {
    text-decoration: none;
}

ul li a:hover {
    color: fuchsia;
}


footer {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color:var(--spice);
    text-align: center;
}
footer a {
    text-decoration: none;
    color: var(--noodles);
    font-size: small
}

footer a:hover {
    color: fuchsia;
}


@media screen and (max-width: 786px) {
    .digits,
    header nav {
        width: 50%;
        justify-content: center;
        }

    header {
        flex-direction: column;
        align-items: center;
    }

    .About {
      flex-direction: column;
    }
    .About img {
        width: 50%;
    }
  }
  